[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "==1.9.2"
whitenoise = "==5.1.0"
django-debug-toolbar = "*"
channels = "*"
channels-redis = "*"
selenium = "*"
django-userforeignkey = "*"
environs = {extras = ["django"], version = "*"}
psycopg2-binary = "*"
gunicorn = "==19.9.0"
daphne = "*"

[dev-packages]

[requires]
python_version = "3.9"
