{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
{% block content %}
<body>
   <h2>Please enter the name of the chat room you would like to join or create!</h2><br>
   <p>Our chat rooms do not save any information and are only open when one person has started one. As soon as everyone leaves a room it is gone and so are the messages. If you are trying to join your friends in a room you need to type in the name of the room exactly.
       <br><small><i>- When creating a chat room do not use spaces in the name.</i></small>
       <h3>Here are some lobbys you can join!</h3>
       <div class="list-group">
        <a href="{% url 'index' %}lobby" class="list-group-item list-group-item-action active" aria-current="true">
          Lobby
        </a>
        <a href="{% url 'index' %}gaming" class="list-group-item list-group-item-action">Gaming</a>
        <a href="{% url 'index' %}art" class="list-group-item list-group-item-action">Arts</a>
        <a href="{% url 'index' %}music" class="list-group-item list-group-item-action">Music</a>
          </div>
   </p>
   <div class="form-floating mb-3">
    <input id="room-name-input" class="form-control" type="text" placeholder="Room Name" size="100">
    </div>
    <input id="room-name-submit" class="btn btn-success" type="button" value="Enter">

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
</body>
{% endblock content %}
</html>