{% extends 'base.html' %}
{% block content %}
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Chat Rooms</title>
	</head>
<body>
  What Chat room would you like to enter?<br>
  <input id="room-name-input" type="text" size="100"><br>

  <script>
	  document.querySelector('#room-name-input').focus();
	  document.querySelector('#room-name-input').onkeyup = function(e) {
		  if(e.keyCode === 13) {
			  document.querySelector('#room-name-submit').click();
		  }
	  };

	  document.querySelector('#room-name-submit').onclick = function(e) {
		  var roomName = document.querySelector('#room-name-input').value;
		  window.location.pathname = '/chat/' + roomName + '/';
	  };
  </script>

<style type="text/css">
.chat-log {
	height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;
	background-color: #fff;
	font-size: 0.9em;
	flex-direction: column-reverse;
}
</style>

<div class="container">
	<div class="d-flex flex-column">
		<div class="d-flex chat-log">
			
		</div>
		<div class="d-flex chat-message-input-container">
			<textarea class="flex-grow-1 chat-message-input" id="id_chat_message_input"></textarea>
			<button class="btn btn-primary chat-message-submit-button">
				<span id="id_chat_message_submit" class="material-icons">send
				</span>
			</button>
		</div>
	</div>
</div>




{% endblock content %}
</body>
</html>