{% extends 'base.html' %}

{% block title %}Live Chat{% endblock title%}

{% block content %}
    {% for object in object_list %}
        <div class="post-entry">
            <h2><a href="{% url 'transmission_detail' object.pk %}">{{ object.title }}</a></h2>
            <p>{{ object.body }}</p>
        </div>
    {% endfor %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <p> Please Login </p>
        <a href="{% url 'login' %}">Log In</a> | <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}

{% endblock content %}