{% extends 'base.html' %}

{% block title %}Hacket{% endblock title%}

{% block content %}


    {% for object in object_list %}
        <div id="card-new" class="post-entry card" style="width: 50rem; margin: 0 auto; float: none; margin-bottom: 50px; ">
            <div class="card-title text-center">
                <h2><a href="{% url 'transmission_detail' object.pk %}">{{ object.title }}</a></h2>
            </div>
            <div class="card-body text-center" style="padding: 0; margin: 0; ">
                <p> By {{ object.author }} </p>
                
            </div>
            <div class="card-body float-left"
                 <p> {{ object.body }} </p>
            </div>
        </div>
    {% endfor %}
    

{% endblock content %}