{% extends 'base.html' %}

{% block content %}
    <div id="card-new" class="card">
        <div class="post-entry ">
            <h2 class="card-title text-center">{{ object.title }}</h2>
            <h3 class="card-body text-center">{{ object.author }}</h3>
            <p class="card-body text-left">{{ object.body }}</p>
        </div>
        <div id="oneline">
            {% if user.is_authenticated %}
           
                <a href="{% url 'comment_new' %}" style="color: #8e8c82;">New Comment</a>
           
            
                <p> <a href="{% url 'transmission_edit' object.pk %}" style="color: #8e8c82;">Edit</a> | <a  href="{% url 'transmission_delete' object.pk %}" style="color: #8e8c82;">Delete</a></p>
                <br/>
                <form action="{% url 'like_transmission' transmission.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit", name="transmission_id", value="{{ transmission.id }}", class="btn btn-primary btn-sm ">Like - {{ total_likes }}</button>
                </form>
            {% endif %}
        </div>
            <div class="card-footer">
                {% for comment in transmission.comments.all %}
                <p style="padding-top: 15px; margin: 0;">
                    <span class="font-weight-bold">
                        {{ comment.author }}
                    </span>
                    {{ comment }}
                </p>
                {% if user.is_authenticated %}
                    <a href="{% url 'comment_edit' comment.pk %}" style="color: #8e8c82;">Edit</a> | <a href="{% url 'comment_delete' comment.pk %}" style="color: #8e8c82;">Delete</a></a>
                {% endif %}
                {% endfor %}
            </div>
        
    </div>
        
{% endblock content %}