{% extends 'base.html' %}

{% block content %}
    <div class="post-entry">
        <h2>{{ object.title }}</h2>
        <p>{{ object.body }}</p>
    </div>
    <div class="card-footer">
        {% for comment in transmission.comments.all %}
        <p>
            <span class="font-weight-bold">
                {{ comment.author }}
            </span>
            {{ comment }}
        </p>
        {% endfor %}
    </div>
    <a href="{% url 'transmission_edit' object.pk %}">Edit</a> | <a href="{% url 'transmission_delete' object.pk %}">Delete</a></a>
{% endblock content %}